$brand-primary: darken(#428bca, 6.5%) !default;
$brand-danger: #d9534f !default;
$text-color: #000000 !default;
$input-border-color: #e5e6e7 !default;
$screen-lg: 1200px !default; 
$screen-md: 992px !default; 
$screen-sm: 768px !default;
$screen-xs: 480px !default;
$screen-md-max: ($screen-md + 1) !default;
$screen-sm-max: ($screen-sm + 1) !default;
$screen-xs-max: ($screen-xs + 1) !default;
$label-width: 16.666667% !default; 
$input-width: 83.333334% !default; 
$input-height: 34px !default;
$form-breakpoint: $screen-xs-max !default;

@import '../libs/dropzone/dropzone';
@import '../libs/typeahead/typeahead';
@import '../libs/bootstrap-slider/bootstrap-slider';
@import '../libs/bootstrap-switch/bootstrap-switch';
@import '../libs/bootstrap-select/css/bootstrap-select';
@import '../libs/bootstrap-tags/bootstrap-tagsinput';
@import '../libs/form-validation-io/css/formValidation';
@import '../libs/fancybox/jquery.fancybox';
@import '../libs/bootstrap-datepicker/css/datepicker';

.hided {
	visibility: none;
	opacity: 0;
	position: absolute;
	left: -10000px;
}

.wax-form {

	.wax-clone-button {
		margin-left: $label-width;
	    background: $brand-primary;
	    color: #fff;
	    padding: 2px 7px;
	    border-radius: 3px;
	    display: inline-block;
	    left: 50%;
	    position: relative;
	    margin: 20px 0 0 -12px;
	}

	.wax-remove-clone-button {
		position: absolute;
		display: inline-block;
		top: 3px;
		right: 23px;
	    top: 34px;
	    margin: 0;
		color: #BDC5C7;
		font-size: 18px;
		z-index: 3;
		text-align: right;
	}

	.wax-form-language-selector {
	    min-width: 100%;
	    background: #fff;
	    border-bottom: 1px solid $input-border-color;
	    border-left: 0;
	    border-right: 0;
	    margin: 0 -10px 0 -10px;
	    display: flex;

    	a {
    		flex-grow: 1;
    		text-align: center;
		    padding: 18px 0;
		    color: #BDC5C7;
		    text-transform: uppercase;

		    &.active {
				border-bottom: 3px solid $brand-primary;
			    color: $brand-primary;
			    font-weight: 600;
		    }

		    &:last-of-type {
    			border-right: 0;
		    }

		    &.contains-error {
		    	color: #D23D3D;
		    	border-color: #D23D3D;
		    }
    	}
	}

	.wax-form-tabs {
	    width: calc(100% + 20px);
	    margin: 0 0 0 -10px;
	    position: relative;
	    z-index: 1;
	    //white-space: nowrap;
	    font-size: 0;

	    a {
			display: inline-block;
		    padding: 14px 20px 11px;
		    color: #BDC5C7;
		    font-weight: 600;
		    font-size: 14px;
		    min-height: 45px;

			&.active {
			    margin-bottom: -3px;
			    background: #fff;
			    border-radius: 1px 1px 0 0;
			    border-top: 3px solid #E7EAEC;
				border-bottom: 3px solid #fff;
				color: #676a6c;
			}

			&.contains-error {
				color: $brand-danger;

				&.active {
					border-top-color: $brand-danger;
				}
			}
	    }

	    .dropdown {
	    	display: inline-block;
	    	cursor: pointer;

	    	.dropdown-menu {
	    		right: 0;
	    		left: initial;

	    		a {
		    		display: block;	

		    		&.active {
		    			border: 0;
		    			margin: 0;
		    		}
	    		}
	    	}
	    }
	}

	.wax-form-steps {
	    width: calc(100% - 20px);
	    margin: 20px 10px 0px 10px;
	    position: relative;
        display: flex;
	    white-space: nowrap;

	    a {
			display: inline-block;
		    padding: 14px 20px 14px;
		    color: $text-color;
		    font-weight: 600;
		    font-size: 14px;
		    flex-grow: 1;
		    text-align: center;
		    margin: 0 10px;
		    background: #fff;
		    border-radius: 4px;

			&.active {
				background: $brand-primary;
    			color: #fff;
			}

			&.disabled {
		    	color: rgba(119, 119, 119, 0.38);
			}

			&.contains-error {
		    	background: #D23D3D;
		    	color: #ffffff;
			}

			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}
	    }
	}

	.wax-section {
		position: relative;

		.wax-section-title {
		    float: left;
		    background: #fff;
		    margin: 20px 0 30px 10px;
		    padding: 0 0 17px 0;
		    width: calc(100% - 20px);
		    border-bottom: 1px solid #e7eaec;
		    font-weight: 600;
		    text-transform: uppercase;
		    font-size: 13px;
		    color: #777;
		}

		&.empty {
			.wax-brow {
				background: none;
			    border: 0;
			    padding: 0;
			}
		}
	}

	.wax-brow {
	}

	.wax-bcolumn {
		.wax-clone-button {
		    left: 0;
		    margin: -2px 0 7px $label-width;
		}

		.wax-remove-clone-button {
			left: $label-width;
			right: initial;
			margin: 0 0 0 -22px;
    		top: 4px;
			text-align: left;
		}
	}

	.wax-column {
		padding: 0;

		& > label {
			float: left;
		    width: 100%;
		    padding: 0 30px 0 0;
		    text-align: right;
		    font-size: 14px;
		    display: flex;
		    align-items: center;
		    justify-content: flex-end;
		    height: $input-height;

		    sup {
		    	margin-left: 3px;
		    }
		}
	}

	.wax-element {
	    float: left;
		width: 100%;
		position: relative;

		label {
			float: left;
		    width: $label-width;
		    padding: 0 30px 0 0;
		    text-align: right;
		    font-size: 14px;
		    display: flex;
		    align-items: center;
		    justify-content: flex-end;
		    height: $input-height;

		    sup {
		    	margin-left: 3px;
		    }
		}

		.form-control {
			width: $input-width;
			border: 1px solid $input-border-color;
			transition: border .3s;
			box-shadow: none !important;
			border-radius: 1px;
			-webkit-appearance: none;

			&:focus {
				border-color: $brand-primary;
			}
		}

		.input-group {
			width: $input-width;

			.form-control {
				width: 100%;
			}

			.input-group-addon {
				transition: border .3s;
			    border-color: $input-border-color;
				background: transparent;
				color: $text-color;

				&:first-child {
					border-radius: 1px 0 0 1px;
				}

				&:last-child {
					border-radius: 0 1px 1px 0;
				}
			}
		}

		.help-block {
			padding-left: $label-width;
			font-size: 12px;
		}

		.form-control-feedback {
			top: ($input-height / 2 - 18px);
			font-size: 14px;
		}

		.language-indicator {
			position: absolute;
		    right: 12px;
		    top: ($input-height / 2 - 8);
		    text-transform: uppercase;
		    letter-spacing: 1px;
		    z-index: 3;
			background: $brand-primary;
		    color: #fff;
		    font-size: 11px;
		    font-weight: 700;
		    line-height: 10px;
		    padding: 3px 4px;
		    border-radius: 3px;
		}

		.form-control-feedback.fa + .language-indicator {
			right: 32px;
		}

		.wax-info {
			border: 0;
		    background: #EFEFEF;
		    color: #676a6c;
		    width: 25px;
		    border-radius: 16px;
		    line-height: 22px;
		    margin: -2px 0 0 3px;
		}

		.wax-description {
		    margin: 5px 0 0 16.666%;
		    font-size: 14px;
		    color: #cdcdcd;
		    font-weight: 300;
		    font-style: italic;
		}

		.wax-counter {
			float: right;
		    margin: 5px 0 0;
		    font-size: 13px;
		    color: #999;
		}

		span.twitter-typeahead {
			.tt-suggestion {
				&:hover {
					color: initial;
					background-color: #EAECEF;
				}
			}

			.tt-hint {
				background: transparent !important;
			}
		}

		/* Specific elements */

		&.wax-text {
			&.wax-text-xs {
				width: 52px;
			}

			.form-control {
				height: $input-height;
			}
		}

		&.wax-textarea {
			&.wax-textarea-tall {
				textarea {
					height: 120px;
				}
			}
		}

		&.wax-html {
			padding-left: $label-width;
		}

		&.wax-anchor {
			padding-left: $label-width;
		}

		&.wax-select {
			* {
				outline: none;
			}

			.form-control {
				padding-right: 0;
				border: 0;
				height: $input-height;

				.dropdown-toggle {
					border-color: $input-border-color;
					border-radius: 1px;
					outline: none !important;
					transition: border .3s;
					height: $input-height;

					&:hover, &:focus, &:active {
						background: #F7F7F7;
					}
				}

				.dropdown-menu {
					li {
						a:hover {
							background: #EAECEF;
						}

						&.selected {
							a {
								background: #EAECEF;		
							}
						}
					}
				}

				& + .form-control-feedback {
					right: 20px;
					z-index: 3;
				}
			}
		}

		&.wax-multiselect {
			.form-control {
				height: 140px;
				padding: 0;

				option {
					line-height: 28px;
				    height: 28px;
				    vertical-align: middle;
				    display: flex;
				    align-items: center;
				    padding: 0px 0 1px 11px;

				    &:checked {
				    	background: $brand-primary;
				    	color: #ffffff;
				    }
				}
			}
		}

		&.wax-checkbox {
			.checkbox {
				padding-left: $label-width;
				margin-top: 0;
			}

			label {
				width: 100%;
				text-align: left;
				margin-left: 11px;
				position: relative;
				justify-content: flex-start;
    			margin-left: 20px;
    			height: ($input-height * 0.75);
			}
		}

		&.wax-checkboxgroup {
			.checkbox {
				padding: 0;
			    float: right;
			    width: $input-width;
			    margin-top: 0;
			}
		}

		&.wax-radio {
			.radio {
				padding-left: $label-width;
				margin-top: 0;
			}

			label {
				width: 100%;
				text-align: left;
				margin-left: 11px;
				position: relative;
				justify-content: flex-start;
    			margin-left: 20px;
    			height: ($input-height * 0.75);
			}
		}

		&.wax-radiogroup {
			.radio {
				padding: 0;
			    float: right;
			    width: $input-width;
			    margin-top: 0;
			}
		}

		&.wax-swap {
			.swap {
				float: left;
			    width: $input-width;
			    margin: 0;

			    .bootstrap-switch {
			    	box-shadow: none;
			    	margin-bottom: 5px;
			    	border-color: $input-border-color;

			    	&.bootstrap-switch-focused {
			    		border-color: $brand-primary;
			    	}

			    	.bootstrap-switch-handle-on {
			    		background-color: $brand-primary;
			    	}

			    	.bootstrap-switch-handle-off {
			    		background-color: #F3F3F4;
			    	}
			    }
			}
		}

		&.wax-slider {
			.slider {
				margin-top: 6px;

				.slider-handle {
					
				}
			}
		}

		&.wax-autocomplete {
			.twitter-typeahead {
				float: left;
				width: $input-width;
				margin-bottom: 5px;
				height: $input-height;

				.form-control {
					width: 100%;
				}

				.tt-menu {
					width: 100%;

					.tt-suggestion {
						cursor: pointer;

						&:hover {
							background: #EAECEF;
							color: #000;
						}

						&.tt-cursor {
							background: #EAECEF;
							color: #000;
						}
					}
				}
			}
		}

		&.wax-image {
			.image-container {
				float: left;
				position: relative;

				.image-previews {
					background: #fff;
				    padding: 10px;
				    border-radius: 5px;
				    border: 1px solid #e7e7e7;
				    display: flex;
				    align-items: center;
				    justify-content: center;

					img {
						margin: 0;
					}
				}

				.image-uploader-container {
					float: right;
	    			width: $input-width;
	    			//margin-bottom: 5px;

					.dropzone {
						background: $brand-primary;
					    color: #fff;
					    display: inline-block;
					    border: 0;
					    padding: 7px 13px;
					    margin: 0;
					    height: initial;
					    min-height: 0;
					    border-radius: 3px;
					    position: absolute;
					    left: 50%;
					    transform: translate3d(-50%,0,0);
					    transition: .3s;
					    bottom: 0;
					    opacity: 0;

					    .dz-message {
					    	margin: 0;
					    }
					}
				}

				.remove-image {
					position: absolute;
				    top: 0;
				    right: 10px;
				    content: " ";
				    font-size: 0;
				    padding: 0;
				    border: 0;
				    color: #333;
				    background: transparent !important;
				    transition: .3s;
				    opacity: 0;	

				    &:before {
				    	content: "\f00d";
				    	font-family: "FontAwesome";
				    	font-size: 18px;
				    	color: #ffffff;
				    	text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
				    }
				}

				&:hover {
					.image-uploader-container {
						.dropzone {
							bottom: 10px;
					    	opacity: 1;
						}
					}

					.remove-image {
						opacity: 1;
						top: 6px;
					}
				}
				
			}

			.progress {
				display: inline-block;
			    position: relative;
			    width: 86%;
    			margin: 0 7%;
    			height: 14px;
    			border-radius: 20px;
			    position: absolute;
			    top: 50%;
			    transform: translate3d(0,-50%,0);
			    left: 0;

    			.bar {
					background: $brand-primary;
				    display: inline-block;
				    height: 20px;
    			}
			}
		}

		&.wax-multiimage {
			.image-previews {
				float: left;
				width: 100%;

				.preview-block {
					width: 200px;
				    position: relative;
				    font-size: 0px;
				    border-radius: 2px;
				    margin: 0 10px 10px 0;
				    float: left;

				    .image {
				    	display: inline-block;
					    width: 200px;
					    height: 200px;
					    border-radius: 2px;
					    background-size: cover;
					    background-repeat: none;
				    }

				    input {
				    	font-size: 14px;
					    font-weight: 300;
					    width: 100%;
					    padding: 6px 12px;
					    outline: none;
					    border-radius: 0 0 2px 2px;
					    border-top: 0;
					    border: 1px solid $input-border-color;
					    margin-top: -2px;
				    }

					.remove {
						position: absolute;
						right: 5px;
						top: 1px;
						color: #fff;
						text-shadow: 0px 0px 1px rgba(0,0,0,0.6);
						font-size: 19px;

						&:hover {
							text-shadow: 0px 0px 1px rgba(0,0,0,0.9);
							color: #f1f1f1;
						}
					}
				}
			}

			.image-uploader-container {
				float: left;
    			width: 100%;
    			margin-bottom: 5px;

				.dropzone {
					background: $brand-primary;
				    color: #fff;
				    display: inline-block;
				    border: 0;
				    padding: 7px 13px;
				    margin: 0;
				    height: initial;
				    min-height: 0;
				    border-radius: 3px;

				    .dz-message {
				    	margin: 0;
				    }
				}
			}

			.progress {
				display: inline-block;
			    width: 180px;
			    margin: 0 0 0px 7px;
			    position: relative;
			    top: 2px;
    			height: 14px;

    			.bar {
					background: $brand-primary;
				    display: inline-block;
				    height: 20px;
    			}
			}
		}

		&.wax-file, &.wax-multifile {
			.file-previews {
				float: left;
    			width: $input-width;

    			.file {
    				float: left;
				    width: 100%;
				    margin-bottom: 10px;

				    .remove {
						margin: 0 8px 0 0;
					    color: #676a6c;
				    }

				    .name {
				    	color: #676a6c;
					    border-left: 2px solid #000;
					    border-color: $input-border-color;
					    padding: 6px 13px;
					    display: inline-block;
					    border-radius: 5px;

					    &::before {
					    	content: "\f0c6";
						    display: inline-block;
						    font: normal normal normal 14px/1 FontAwesome;
						    font-size: inherit;
						    text-rendering: auto;
						    -webkit-font-smoothing: antialiased;
						    margin-right: 10px;
					    }
				    }
    			}
			}

			.file-uploader-container {
				float: right;
    			width: $input-width;
    			margin-bottom: 5px;

				.dropzone {
					background: $brand-primary;
				    color: #fff;
				    display: inline-block;
				    border: 0;
				    padding: 7px 13px;
				    margin: 0;
				    height: initial;
				    min-height: 0;
				    border-radius: 3px;

				    .dz-message {
				    	margin: 0;
				    }
				}
			}

			.progress {
				display: inline-block;
			    width: 180px;
			    margin: 0 0 0px 7px;
			    position: relative;
			    top: 2px;
    			height: 14px;

    			.bar {
					background: $brand-primary;
				    display: inline-block;
				    height: 20px;
    			}
			}
		}

		&.wax-editor {
			.cke {
				width: 83%;
	    		float: right;
	    		margin-bottom: 5px;
	    		border: 1px solid $input-border-color;

			}

    		&.full-width {
    			.cke {
	    			width: 99.8%;
					float: left;
    			}

    			.help-block {
    				padding-left: 0;
    			}
    		}

    		.form-control-feedback {
    			top: ($input-height / 2 - 14);
    		}

    		.language-indicator {
    			top: ($input-height / 2 - 4);
    		}
		}

		&.wax-html {
			&.slider-display {
				float: left;
			    width: $input-width;
				margin-left: $label-width;
			}
		}

		&.wax-button {
			padding-left: $label-width;
		}

		&.wax-table {
			.wax-repeater {
				width: $input-width;

				tr {
					&:nth-of-type(even), &:nth-of-type(odd) {
						background: transparent;
					}

					&:last-of-type {
						& > td {
							border-bottom: 0;
						}
					}

					th {
						color: #676a6c;

						a {
							color: #676a6c;
						}
					}
				}

				.wax-repeater-empty {
					color: #999;
				    height: 31px;
				    display: flex;
				    align-items: center;
				    justify-content: flex-start;
				    margin: 0;
				    font-weight: 300;
				    font-style: normal;
				    font-size: 14px;
				}
			}

			&.full-width {
				.wax-repeater {
					width: 100%;
				}
			}
		}

		&.wax-tags {
			.bootstrap-tagsinput {
				width: $input-width;
			    box-shadow: none;
			    border: 1px solid #e7e7e7;
			    border-radius: 1px;
			    padding: 9px 9px 7px;
			    font-size: 0;
			    line-height: 14px;
			    position: relative;

			    span.twitter-typeahead {
			    	width: auto;
			    	position: initial !important;

			    	.tt-menu {
			    		left: 0;
			    		right: 0;
			    	}
			    }

			    .tag {
		    	    margin: 0 3px 3px 0;
					color: #676a6c;
			    }

			    .label {
			    	display: inline-block;
				    padding: 6px 10px;
				    font-size: 13px;
				    font-weight: 400;
			    }

			    .label-info {
			    	background-color: #E7E7E7;
			    }
			}
		}

		/* Modifiers */

		&.has-error {
			.form-control {
				border-color: $brand-danger;
			}

			.input-group {
				.input-group-addon {
				    border-color: $brand-danger;
					color: $brand-danger;
				}
			}

			&.wax-select {
				.dropdown-toggle {
					border-color: #b94a48;
				}
			}
		}

		&.with-suffix {
			.form-control-feedback {
				right: 36px;
			}

			.language-indicator {
			    right: 48px;
			}

			.form-control-feedback.fa + .language-indicator {
				right: 68px;
			}
		}

		/* Element view */

		.wax-element-view {
			float: left;
		    width: $input-width;
		    margin: 6px 0 0;
		}
	}

	/* Specific sections */

	.wax-section {
		&.wax-content {
			.wax-brow {
				padding: 0;
			}

			.wax-bcolumn {
				padding: 0;
			}

			.wax-element {
				margin-bottom: 0;

				.cke {
					margin-bottom: 0;
					border: 0;
				}

				&.wax-editor {
	    			.cke {
		    			width: 99.8%;
						float: left;
	    			}

	    			.help-block {
	    				padding-left: 0;
	    			}

	    			.language-indicator {
	    				right: 22px
	    			}
				}

    			.form-control-feedback.fa + .language-indicator {
    				right: 30px
    			}
			}
		}
	}

	.wax-column.full-size {
		@import 'components/_full-size';
	}

	.wax-section {
		&.col-lg-2 {
			@import 'components/_form-breakpoint';
		}
	}

	@media screen and (max-width: $form-breakpoint) {
		@import 'components/_form-breakpoint';
	}



	/* Grid breakpoints */

	/*.col-lg-10,
	.col-lg-9,
	.col-lg-8,
	.col-lg-7 {
		@media screen and (max-width: $screen-lg) {
			@import 'components/_narrow';
		}
	}

	.col-lg-6,
	.col-lg-5,
	.col-lg-4,
	.col-lg-3,
	.col-lg-2,
	.col-lg-1 {
		@import 'components/_smalls';

		@media screen and (max-width: $screen-lg) {
			label {
				text-align: left;
			    padding-left: 0;
			}
		}
	}

	.wax-column.full-size {
		@import 'components/_full-size';
	}*/

	/*[class*="-6"],[class*="-5"],[class*="-4"],[class*="-3"],[class*="-2"] {
		@import 'components/_narrow';
	}

	@media screen and (max-width: $screen-sm) {
		@import 'components/_narrow';	
	}*/

}